body{
    background-color:#f0e1b6;
    color: #494a57;
}
header{
    background-color: #481f0f;
}
header ul{
    color: #f0e1b6;
}
header a{
    color: #f0e1b6;
}
.introduction{
    background-image: url("Stock/DSC_0141.JPG"); 
}

.introduction h1{
    color: aliceblue;
    text-align: center;
    font-size: 25px;
}
.introduction img{
    height: 506.5px;
    width: 283.5px;
}
h2{
    color: #f0e1b6;
}
.section{
    background-color: #a04b12;
}