@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&family=Staatliches&display=swap');

.container{
    Width: 86%;
    padding: 0.5rem;
    margin: 5rem;
}
h1{
    font-family: 'Staatliches', cursive;
    font-size: 90px;
}
h2{
    font-family: 'Staatliches', cursive;
    font-size: 60px; 
    color: #323538;   
}
h3{
    font-family: 'Staatliches', cursive;
    font-size: 30px; 
    color: #43464A; 
}
p{
    font-family: 'Source Serif Pro', serif;
}
li{
    font-family: 'Source Serif Pro', serif;
}
.date0{
    position: absolute;
    top:90%;
    left: 80%;
}
.date1{
    position: absolute;
    top:130%;
    left: 80%;
}
.date2{
    position: absolute;
    top:180%;
    left: 80%;
}
.date3{
    position: absolute;
    top:225%;
    left: 80%;
}
.date4{
    position: absolute;
    top:253%;
    left: 80%;
}
.date5{
    position: absolute;
    top:284%;
    left: 80%;
}